gunicorn
PySocks
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.7
envparse==0.2.0
idna==2.8
pyTelegramBotAPI
pytz==2019.3
requests==2.10.0
six==1.14.0
sqlparse==0.3.0
urllib3
pytest==5.3.5
pytest-cov==2.8.1
